body {
  background-color: rgb(207, 194, 188);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-bottom: 1px solid rgb(217, 255, 0);
  padding: 10px;
  width: 100%;
  height: 100%;
}

textarea:focus {
  outline: none;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1515404929826-76fff9fef6fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80");
  background-size: cover;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 10px;
}

.past {
  background-color: rgb(5, 165, 170);
  color: white;
}

.present {
  background-color: #b30ddd;
  color: white;
}

.future {
  background-color: #2ac02a;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(89, 9, 163);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.saveBtn:focus {
  outline: none;
}
